/* ***************** utilities & containers ***************** */
.container {
    margin: 0 auto;
}

:root {
    --primary-blue: #0C4A6E;
    --off-white: #FAFAFA;
    --grey: #F4F4F5;

}

/* ***************** global typography ***************** */
h1,
h2,
h3,
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* ***************** header & footer ***************** */
h1 {
    font-size: 1.625rem;
    color: white;
    font-weight: bold;
}

header {
    background-color: var(--primary-blue);
    margin: 1.625rem 0 1.625rem 6.25rem;
}

footer {
        background-color: var(--primary-blue);

}

/* ***************** main content ***************** */