/* ***************** utilities & containers ***************** */
.container {
    max-width: 1728px;
    margin: 0 auto;
}

:root {
    --primary-blue: #0C4A6E;
    --off-white: #FAFAFA;
    --grey: #F4F4F5;

}

/* ***************** global typography ***************** */
h1,
h2,
h3,
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* ***************** header & footer ***************** */
h1 {
    font-size: 1.625rem;
    color: var(--off-white);
    font-weight: bold;
    padding: 1.625rem 6.25rem;
}

header {
    background-color: var(--primary-blue);
}

footer {
    background-color: var(--primary-blue);

}

footer .container {
    color: var(--off-white);
    padding: 1.625rem 6.25rem;
}

/* ***************** main content ***************** */
.team {
    margin-left: 6.25rem;
    margin-bottom: 6rem;
}

h2 {
    font-size: 3.75rem;
    margin-top: 1.75rem;
    margin-bottom: 1.625rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2.25rem;
}

h3 {
    font-size: 3rem;
    font-weight: bold;
}

.flex-container .flex-container {
    flex-wrap: nowrap;
    background-color: var(--grey);
    gap: 3.5rem;
    padding: 1.75rem 2rem;
    width: calc((100% -2rem)/2);
    align-items: center;
}

.flex-container .flex-container p {
    width: 27.25rem;
}

.plans {
    margin-left: 6.25rem;
    margin-bottom: 6rem;

}

.plan {
    flex: 1;
    background-color: var(--grey);
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    align-items: center;
    justify-items: center;
    /* width: 30.5rem; */
    width: calc((100% - 4.125rem)/3);
}

.plan .flex-container {
    flex-wrap: nowrap;
}

h4 {
    font-size: 2.125rem;
    font-weight: bold;
}

.plan section {
    justify-items: center;
}

.plan p {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-blue);
}

ul,
li {
    list-style-type: disc;
}

.starter {
    margin: 3rem 0;
}

.growth {
    margin: 1.5rem 0;
}